services:
  ssh-tunnel:
    build:
      context: ./SSH
    ports:
      - "1438:1438"

  api:
    build:
      context: ./API
    environment:
      - SERVER='127.0.0.1,1438'
      - DATABASE='DWH'
      - USER='sa'
      - PASSWORD='Admin123'
    depends_on:
      - ssh-tunnel
    ports:
      - "8000:8000"

